@mixin box_shadow($level) {
  @if $level == 1 {
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
  } @else if $level == 2 {
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
  } @else if $level == 3 {
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);
  } @else if $level == 4 {
    box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
  } @else if $level == 5 {
    box-shadow: 0 19px 38px rgba(0, 0, 0, 0.3), 0 15px 12px rgba(0, 0, 0, 0.22);
  }
}

$roboto: 'Roboto', sans-serif;

:host {
  position: relative;
  display: block;
}

.dilemma-button {
  font-family: $roboto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100%;
  width: 100%;
  padding: 50px;
  color: #ffffff;
  text-align: center;
  box-sizing: border-box;

  cursor: pointer;
  transition: 0.1s ease;
  @include box_shadow(1);

  &:hover {
    @include box_shadow(2);
  }

  &.red {
    background-color: #d0252b;
    background-image: -webkit-linear-gradient(to top, #eb353e, #d0252b);
    background-image: -moz-linear-gradient(to top, #eb353e, #d0252b);
    background-image: -ms-linear-gradient(to top, #eb353e, #d0252b);
    background-image: -o-linear-gradient(to top, #eb353e, #d0252b);
    background-image: linear-gradient(to top, #eb353e, #d0252b);

    &.chosen {
      &:after {
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        width: 59px;
        height: 59px;
        background: url('../../assets/media/redcheck.png');
      }
    }
    .percentage {
      color: #7e0b0b;
    }

    .votes {
      color: #ff7f7f;
    }

    &:hover {
      background-image: -webkit-linear-gradient(to top, #f6464f, #eb353e);
      background-image: -moz-linear-gradient(to top, #f6464f, #eb353e);
      background-image: -ms-linear-gradient(to top, #f6464f, #eb353e);
      background-image: -o-linear-gradient(to top, #f6464f, #eb353e);
      background-image: linear-gradient(to top, #f6464f, #eb353e);
    }
  }

  &.blue {
    background-color: #48b0df;
    background-image: -webkit-linear-gradient(to top, #a1e1f0, #48b0df);
    background-image: -moz-linear-gradient(to top, #a1e1f0, #48b0df);
    background-image: -ms-linear-gradient(to top, #a1e1f0, #48b0df);
    background-image: -o-linear-gradient(to top, #a1e1f0, #48b0df);
    background-image: linear-gradient(to top, #a1e1f0, #48b0df);

    &.chosen {
      &:after {
        content: '';
        position: absolute;
        top: 0;
        right: 0;
        width: 59px;
        height: 59px;
        background: url('../../assets/media/bluecheck.png');
      }
    }
    .percentage {
      color: #267ea0;
    }

    .votes {
      color: #beecff;
    }

    &:hover {
      background-image: -webkit-linear-gradient(to top, #bbecf8, #a1e1f0);
      background-image: -moz-linear-gradient(to top, #bbecf8, #a1e1f0);
      background-image: -ms-linear-gradient(to top, #bbecf8, #a1e1f0);
      background-image: -o-linear-gradient(to top, #bbecf8, #a1e1f0);
      background-image: linear-gradient(to top, #bbecf8, #a1e1f0);
    }
  }

  .before-click {
    .question {
      font-weight: bold;
      font-size: 2em;
      text-shadow: 0 1px 2px rgba(0, 0, 0, 0.4);
    }
  }

  .after-click {
    .percentage {
      font-weight: bold;
      text-shadow: 0 1px 2px rgba(255, 255, 255, 0.5);
      font-size: 4rem;
    }

    .votes {
      font-size: 1.25em;
    }
    .question {
      font-size: 1.25rem;
    }
  }
}
